<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>

  <div class="container-fluid bg-success">
    <div class="card py-5 shadow border rounded no-data">
      <h1 class="text-center">Pagina não encontrada!</h1>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
